{% extends '../../public/layout.html'%}
{% block content %}

  <!-- content start -->

  <h2>swig!!!</h2>
  <p>OH, Swig. You're awesome.</br></br>
  This might seem embarrasing to admit, but I was not using templating engines to build this site. Each page had a unique, complete html file. Hey Otto, why is this important you might ask?</br>
  I'm glad you asked. It fulfills one of the great tennets of sofware development.</br></br>
  Do not. I repeat. Don't repeat yourself. Or DRY for short.</br></br>
  The templating engine allows you to define the headers and footers of every website in only one file. For example, this specific website has a file that defines the header and the footer in one file and the content is defined in a unique file that only contains the body content. Find out more at my <a href="https://github.com/hmartineziii?tab=repositories">github</a> profile and at the swig documentation site <a href="http://paularmstrong.github.io/swig/">here</a>.


  </p>


  <!-- content end -->
{% endblock %}
