{% extends '../../public/layout.html'%}
{% block content %}

  <!-- content start -->

  <h2>How might we increase prenatal and post-partum education?</h2>
  <img width=100% src="qr_code_pregnancy_test.jpg">
<!--  </br></br>
  <p>For a case competition, Stephanie Baranovic and I teamed up to understand
  how technology might improve the sustainability of cocoa farming</br></br>

  Cocoa faming is concentrated in a few geographical locations, with about 70% of
  the world’s cocoa coming from West Africa and the remainder from South America
  and Indonesia. There are several sustainability challenges cocoa farmers face
  including drought, lack of cultivatable land, pest and diseases, poor infrastructure
  and market fluctuations. How can we employ innovative technology solutions to
  generate and capture incremental value through a focus on a sustainable supply
  chain?</br></br>

  Again in this project our physical distance from the human element made it
  difficult for us to do primary research. As a result, we used secondary research
  to understand feasible solutions to our prompt. Our analysis focused on the
  feasibility and viability.</br></br>

  Through our research, I learned the difficulties associated with growing cocoa
  trees to maturity and determining when trees should be torn down and replanted.
  Additionally, the economics of cocoa farming have deterred new farmers from
  entering this market. As a result, the average age of a cocoa farmer is 55 years
  old.</br></br>

  To learn more about the difficulties of cocoa farming,
  <a href="https://www.youtube.com/watch?v=1Dk0llNdNVE">this video</a>
  summarizes it nicely.</br></br>

  Armed with an understanding of the logistical and economic issues our solution
  focused on using IoT technologies and using open platform algorithms developed
  using websites such as <a href="www.kaggle.com">kagggle</a> to reduce the
  investment costs.
  </p>

-->
  <!-- content end -->
{% endblock %}
