{% extends '../../public/layout.html'%}
{% block content %}

  <!-- content start -->
  
  <h2>Hello World of Blogs</h2>
  <p>I've finally created my own website from scratch. Well, with the help of Twitter's Bootstrap. The homepage includes to stock photos I bought from <a href='http://www.123rf.com'>123rf.com</a>.</p>
  <p>I'm going to be blogging about books I've read, books I'm reading and other stuff, mostly related to programming, where my current interests lie. </br></br>- 05/25/15</p>
{% endblock %}
