{% extends '../../public/layout.html'%}
{% block content %}

  <!-- content start -->

  <h2>Why a good README is crucial to open source projects</h2>
  <p>This week I met with one of my mentors, Ivan. He was going through some of my <a href="https://github.com/hmartineziii?tab=repositories">github</a> projects when he said something to the extent of: You have a lot of good code here, but no one will notice it if you don't have a good README.</br></br>
  For a while I was of the mind "Code is self-documenting". And to an extent, that is true <em>if someone knows what your code is supposed to do in the first place</em>. The README helps out here a bunch.</br></br>
  Okay, I've learned my lesson. For the next week I'm going to start making better READMEs to my open github projects.</br></br>
  Resources for making great READMEs:</br></br>
  <a href="https://robots.thoughtbot.com/how-to-write-a-great-readme">https://robots.thoughtbot.com/how-to-write-a-great-readme</a></br>
  <a href="http://stackoverflow.com/questions/2304863/how-to-write-a-good-readme">http://stackoverflow.com/questions/2304863/how-to-write-a-good-readme</a></br>
  <a href="http://www.reddit.com">For the procrastinators</a></br></br>
  </p>


  <!-- content end -->
{% endblock %}
