{% extends '../../public/layout.html'%}
{% block content %}

  <!-- content start -->

  <h1>The 737MAX rolls out, a reflection on my career and Boeing</h1>
  <p>Today's rollout of the 737-8 MAX culminates two years of effort designing
  the single aisle airplane of Boeing's future and a celebration of my career
  advancement within the Boeing company.</p></br>
  <img class="img-fluid" alt="Responsive image" src="rollout.jpg"></br></br>
  <p>I started in this project in Boeing's 10-20 building in Renton, Washington
  after a successful time at, but overdue departure from my role in commercial aviation
  services providing subject matter expertise to airlines so they can optimize
  their maintenance operations while keeping their fleet safe. Our team was small,
  and due to the large amount of work in front of us, growing.</p></br>
  <p>We were so short staffed that I took on some work generally reserved for the more senior
  level 3 engineers (I was a level 2 at the time). A move to the 4-21 building and the program
  full swing later, saw me leaving these activities for detail design. However,
  it was this exposure, and my performance during it, that led me to become
  the lead loads engineer for the 737MAX flaps systems (with a nice level 3,
  senior engineer, promotion to boot).</p></br>
  <p>I see my role here as someone who balances the interests of both
  our customers and the company. Our customers desire a more fuel efficient
  airplane. This in turn allows airlines to compete on price because it's in a
  field that's not differentiated. The passengers in turn decide both on price
  and schedule. The company wants to meet customer needs at the lowest possible
  cost, fixed and variable. I have a direct impact on both fixed and variable
  costs of this development. Do we need titanium bolts to hold the flaps together?
  yes, yes we do. But are there standard sizes (thickness and length) in which
  the company can exercise economies of scale across all their product lines?
  This is what I consistently think about and the pride I take in seeing this
  airplane roll out of this factory</p></br>
  <p>Good thing is, I get to do this all over again for the next derivative,
  the 737-9 MAX</p></br>
  <!-- content end -->
{% endblock %}
