{% extends '../../public/layout.html'%}
{% block content %}

  <!-- content start -->

  <h1>The 737MAX rolls out, a reflection on my career and Boeing.</h1>
  <p>Today's rollout of the 737-8 MAX culminates two-years of effort designing the
   single-aisle airplane of Boeing's future and a celebration of my career advancement
   within the Boeing company.</p></br>
  <img class="rounded img-fluid" width=100% src="rollout.jpg"></br></br>
  <p>I had served a long and successful tenure in commercial aviation services providing
  subject matter expertise to airlines so they can optimize their maintenance
  operations while keeping their fleet safe. After which I joined the 737-8 MAX project
  in Boeing's 10-20 building in Renton, Washington. Our team was small, and due to the
  large amount of work in front of us, growing.</p></br>
  <p>We were so short staffed that I took on some work generally reserved for the more
  Senior Level 3 engineers. I was a Level 2 at the time. A few months’ time saw a move
  to the 4-21 building and the program in full swing, it was around this time that I
  began work on detail design. It was this role, and my performance in it, that led me
  to become the Lead Loads Engineer for the 737MAX flaps systems. with a nice Level 3,
  Senior Engineer, promotion to boot.</p></br>
  <p>I see my role here as someone who balances the interests of both our customers
  and the company. Our customers desire a more fuel efficient airplane. This in turn
  allows airlines to compete on price because it's in a field that's not differentiated.
  The passengers in turn decide both on price and schedule. The company wants to meet
  customer needs at the lowest possible cost, fixed and variable. I have a direct impact
  on both fixed and variable costs of this development.</p></br>
  <p>Do we need titanium bolts to hold the flaps together? Yes we do. But are there
  adjustments we can make to standard sizes, in thickness and length, that will allow
  the company to benefit from economies of scale across all their product lines?
  Yes! It’s questions like these that I consistently think about and unlocking these
  efficiencies gives me a sense of pride when I see this airplane roll out of the factory.</p></br>
  <p>Good thing is, I get to do this all over again for the next derivative,
  the 737-9 MAX.</p></br>
  <!-- content end -->
{% endblock %}
