{% extends '../../public/layout.html'%}
{% block content %}

  <!-- content start -->

  <h2>Juanita Masters Invitational</h2>
  <iframe width=100% height="315" src="https://www.youtube.com/embed/LtrjfbcIZRA" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <p>Man did I feel like I was going to cramp as soon as I got out of there. My
  head hurt, my sholders felt like stabbing pain. Nothing like all out exertion.</br></br>
  </p>
  <iframe width=100% height="315" src="https://www.youtube.com/embed/g0E9VQs0iyU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<p>Backstroke, my favorite stroke</p>
  <iframe width=100% height="315" src="https://www.youtube.com/embed/xE_zlfoUavo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<p>And finally, my painfully slow, yet efficient freestyle</p>

  <!-- content end -->
{% endblock %}
