{% extends '../../public/layout.html'%}
{% block content %}

  <!-- content start -->

  <h2>Research, Design, Build: Reimagining the gate experience</h2>
  <p>Here's our reimagining of the gate experience</br></br>
  </p>
  <img width=100% src="rdb1.png">
  </br>
  <img width=100% src="rdb2.png">
  </br>
  <img width=100% src="rdb3.png">
  </br>
  <img width=100% src="rdb4.png">
  </br>
  <img width=100% src="rdb5.png">
  </br>
  <img width=100% src="rdb6.png">
  </br>
  <p>And here's the research that went behind it</br></br>
  </p>
</br>
<img width=100% src="rdb7.png">
</br>
<img width=100% src="rdb8.png">
</br>
<img width=100% src="rdb9.png">
</br>
<img width=100% src="rdb10.png">
</br>
<img width=100% src="rdb11.png">
</br>
<img width=100% src="rdb12.png">
</br>
</br>
<h3>This was perhaps the most exhilirating project I've ever been a part of. And winning
  the RDB innovator award was the cherry on top.</h3>
  <!-- content end -->
{% endblock %}
