{% extends '../public/layout.html'%}
{% block content %}
  <!-- content start -->
  <ul id="container">
    <li><a href="/blog/6">contact list, a sql primer</a></li>
    <li><a href="/blog/5">swig!!!</a></li>
    <li><a href="/blog/4">why a good README is crucial to open source projects</a></li>
    <li><a href="/blog/3">what happens when your skill set stagnates</a></li>
    <li><a href="/blog/2">the 737MAX rolls out</a></li>
    <li><a href="/blog/1">hello world of blogs!</a></li>
  </ul>
  <!-- content end -->
{% endblock %}
