{% extends '../public/layout.html'%}
{% block content %}
  <!-- content start -->
  <ul id="container">
    <li><a href="/portfolio/1">Hello world of blogs!</a></li>
    <li><a href="/portfolio/2">The 737MAX rolls out, a reflection on my career and Boeing.</a></li>
    <li><a href="/portfolio/3">What happens when your skill set stagnates.</a></li>
    <li><a href="/portfolio/4">Why a good README is crucial to open source projects.</a></li>
    <li><a href="/portfolio/5">Swig templating engines.</a></li>
    <li><a href="/portfolio/6">Contact lists, how I learned to display sql programmatically.</a></li>
    <li><a href="/portfolio/7">Innovation Frontiers: Tackling fake news via Augmented Reality.</a></li>
    <li><a href="/portfolio/8">Research, Design, Build: Reimagining the gate experience.</a></li>

  </ul>
  <!-- content end -->
{% endblock %}
