{% extends '../public/layout.html'%}
{% block content %}
  <!-- content start -->
  <ul id="container">
    <li><a href="/portfolio/1">Hello world!</a></li>
    <li><a href="/portfolio/2">Portfolio: The 737MAX rolls out, a reflection on my career and Boeing.</a></li>
    <li><a href="/portfolio/3">What happens when your skill set stagnates.</a></li>
    <li><a href="/portfolio/4">Why a good README is crucial to open source projects.</a></li>
    <li><a href="/portfolio/5">Swig templating engines.</a></li>
    <li><a href="/portfolio/6">Contact lists, how I learned to display sql programmatically.</a></li>
    <li><a href="/portfolio/7">Portfolio: Innovation Frontiers: Tackling fake news and information overload via Augmented Reality.</a></li>
    <li><a href="/portfolio/8">Portfolio: How might technology improve the sustainability of cocoa farming.</a></li>
    <li><a href="/portfolio/13">#swimlife</a></li>
    <li><a href="/portfolio/9">Portfolio: How might we increase prenatal and post-partum education?</a></li>
    <li><a href="/portfolio/11">Portfolio: Research, Design, Build: Reimagining the gate experience.</a></li>
    <!-- The following content needs to be added
    <li><a href="/portfolio/10">Portfolio: Understanding the individualized needs of our wounded warriors.</a></li>
    <li><a href="/portfolio/12">Portfolio: How might we increase the supply and demand of fair trade coffee in Chicago?</a></li>
  -->
  </ul>
  <!-- content end -->
{% endblock %}
