{% extends '../../public/layout.html'%}
{% block content %}

  <!-- content start -->

  <h2>Hello world!</h2>
  <p>I've finally created my own website from scratch. No really, every line of
    code that makes this website run was written by me. No, I wasn't bored.
    I've always been fascinated by DIY projecs, from bulding raised bed gardening
    structures for my wife, to building a clapping monkey that responds to Twitter
    hashtags, I find beauty in the process of building something with your hands
    and your mind. The homepage includes to stock photos I bought from
    <a href='http://www.123rf.com'>123rf.com</a>.</p>
  <p>I'm going to be blogging about books I've read, thoughts on design, business,
    society and other stuff. </br></br></p>
{% endblock %}
