{% extends '../../public/layout.html'%}
{% block content %}

  <!-- content start -->

  <h2>Innovation Frontiers: Tackling fake news and information overload via Augmented Reality.</h2>
  <img class="img-fluid" width=100% src="fakenews.jpg"></br>
</br>
  <p>For my Innovation Frontiers class, a team of six of us were tasked with
  solving a problem. Different to my previous experience, however, this problem
  was not laid out for us. Rather, we were also tasked with figuring out our
  own problem to solve.</br></br>
  Hours of intense conversations led us to tackle fake news and its harmful
  effects on society. Our prompt became "How might we use augmented,
  virtual, or mixed reality technology to combat fake news."</p>
  <h3> How might we use AR technology to combat fake news</h3>
  <p>In our research we sought to understand how people consume information
    specifically around which sources they are more likely to trust and why.
    Additionally, we sought to understand what are the social dynamics involved
    in building trust among individuals</br></br>
    In the end, we developed a platform that incorporated the insights from our
    research, our platform was named Vera.</p>
  <h3>Vera is people’s partner in leading an information-rich life, providing
    the knowledge and context needed to make informed decisions.</h3>
    <img class="img-fluid" width=100% src="vera.jpg"></br>
  <h3>Vera features:</h3>
    <p>Quantifies the trustworthiness of information</br>
    Conducts bibliometric, replicability and logical analysis.</br>
    Provides additional context on the subject and the content creator.</br>
    Performs deep-dive analyses on user queries.</br>
    Displays results using an elegant augmented reality interface.</br></br>
    In the end, I gained an appreciation for the difficulty of achieving the
    desired result at scale given the variability of human behavior in developing
    systems of trust. I also learned that disruptive innovation is often characterized
    as platforms rather than products. Perhaps what I didn't learn in this class
    was a faithfulness to the design thinking approach as has been described to
    me in 101 design methods by Vijay Kumar.</br></br>
    For more information on this class, find information on our instructor Larry Keeley,
    his book <i>Ten types of innovation</i> goes into detail in describing the
    components of necessary for innovation.
  </p></br>




</br>
  </p>


  <!-- content end -->
{% endblock %}
